# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment
.env
.env.local
.env.*.local

# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc
*.pth
*.dll
chroma_db/

# Node
node_modules/
npm-debug.log*